body {
  background-image: url('https://wallpaperaccess.com/full/6875927.jpg');
  text-align: center;
  position:relative;
}

#choose {
  color: white
}

#title {
  color: white;
}

#meme-display-name {
  color: white;
}

#meme-nav {
  display:block;
  left:0px;
  position:absolute;
  /* overflow: auto; */
  width: 25%;
  cursor: pointer;
  /* margin-left: 2.8px;
  margin-right: 2.8px; */
}

#meme-nav-bottom {
  display:block;
  right:0px;
  position:absolute;
  /* overflow: auto; */
  width: 25%;
  /* height: 25px; */
  cursor: pointer;
  /* margin-left: 2.8px;
  margin-right: 2.8px; */
}

#meme-nav img {
  width: 75px;
  height: 75px;
  border: solid black 2px;
  margin: 0.3em;
}

#meme-display img {
  height: 35vh;
  border: solid black 3px;
  /* margin-top: 4px;
  margin-bottom: 4px; */
}

#meme-display-image {
  position: absolute;
  left:50%;
  margin-left:-100px;
}

#meme-display button {
  background: greenyellow;
  border: solid black 1px;
  border-radius: 0.5em;
  margin-top: 1em;
  padding: 0.75em;
  font-weight: bold;
  /* position: absolute; */
}

#btns {
  position:absolute;
  left:50%;
  margin-left: -100px;
  margin-top: 300px;

}

#new-meme-form {
  color: white;
}

form {
  background: transparent;
  margin: 2em;
}

form label {
  display: block;
}